body {
  margin: 0;
  padding: 0;
  background: #F2F5FE url("../imagenes/fondo.gif") 0 0 repeat-x;
  font: 70%/160% "verdana", sans-serif;
  color: #192666;
}

a {
  color:#192666;
}
a:hover {
  color:#4F6AD7;
}

p {
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  padding:0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size:180%;
  font-family: "georgia", serif;
  font-weight:normal;
}

h3 {
  font-size:120%;
  font-weight:bold;
}

ul, ol {
  margin: 1em 0 1em 2em;
  padding:0;
}

#container {
  width:770px;
  margin: 50px auto 0 auto;
}

#inicial {
  width: 770px;
  position: relative;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #233C9B url("../imagenes/cabecera.jpg") no-repeat;
  color: #FFF;
}

#c_texto {
  width: 760px;
  margin: 0 5px;
  background: #FFF;
}

#c_texto #c_principal {
  float: left;
  width: 530px;
  margin-top: 15px;
  padding:0 0 0 20px;
  background: #FFF;
}

#c_texto #aside {
  float: left;
  width: 200px;
  margin: 15px 0 0 0;
  padding: 0;
  background: #CEDBF9 url("../imagenes/fondo_columna.gif") no-repeat;
}

#footer {
  clear: both;
  height: 60px;
  margin-bottom: 50px;
  background: url("../imagenes/fondo_pie.jpg") no-repeat;
  color: #6685CC;
  position: relative;
}

#inicial #logo {
  position: absolute;
  top: 35px;
  left: 35px;
  margin: 0;
}

#inicial #logo a {
  color: #FFF;
  display: block;
  line-height: 35px;
}

#inicial #logo a:hover {
  color: #B5C4E3;
  text-decoration: underline;
}

#inicial #searcher {
  position: absolute;
  top: 40px;
  right: 20px;
}

#inicial #searcher legend {
  display: none;
}

#inicial #searcher fieldset {
  border: none;
}

#menu {
  background: #192666;
  margin: 0 5px;
  padding: 10px 0 0 0;
}

#menu ul {
  margin: 0 10px;
  padding: 0;
  list-style:none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float:left;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #253575;
  color: #B5C4E3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #31479B;
}

#menu ul li.primero a {
  background: #FFF;
  color: #FF9000;
}

#c_texto .article {
  clear: both;
  margin: 0;
  padding: 20px;
  background: url("../imagenes/fondo_articulo.jpg") no-repeat;
}

#c_texto .article h2 {
  margin: 0 -20px;
  padding: 10px;
  background: #DEE5FD;
  color: #192666;
}


#c_texto .span {
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #DEE5FD;
  color:#6685CC;
}

#c_texto .span a { color:#6685CC; }
#c_texto .span a:hover { color:#FF9000; }

#c_texto .span span.fecha, #c_texto .span span.categoria, #c_texto .span span.autor, #c_texto .span span.comentarios {
  padding-left:15px;
}

#c_texto .span span.fecha { background: url("../imagenes/icono_fecha.gif") 0 50% no-repeat; }
#c_texto .span span.categoria { background: url("../imagenes/icono_categoria.gif") 0 50% no-repeat; margin-left: 8px; }
#c_texto .span span.autor { background: url("../imagenes/icono_autor.gif") 0 50% no-repeat; margin-left: 8px; }
#c_texto .span span.comentarios { background: url("../imagenes/icono_comentarios.gif") 0 50% no-repeat; margin-left: 8px; }

#c_texto #aside h3 {
  padding: 10px 0 10px 10px;
  margin-top: 20px;
  background: #A0B9F3;
  color: #192666;
}

#c_texto #aside #sobremi img {
  float: left;
  margin: 4px 5px 0 0;
}

#c_texto #aside #sobremi p {
}

#c_texto #aside div {
  padding: 0 10px;
}

#c_texto #aside ul {
  margin: 15px 0;
  padding: 0;
  list-style:none;
}

#c_texto #aside li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E0E8FA;
}

#c_texto #aside li a {
  display: block;
  padding: 3px 0 3px 22px;
  background: url("../imagenes/icono_elemento.gif") 8px no-repeat;
  text-decoration: none;
}

#c_texto #aside li a:hover {
  background-color: #E0E8FA;
  color: #192666;
}

#c_texto #aside li.primero a {
  background: #E0E8FA url("../imagenes/icono_elemento_seleccionado.gif") 8px no-repeat;
  font-weight: bold;
}

#footer p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 40px;
}